nav{
    height: 126px;
  }
  ul {
    list-style: none;
    display: flex;
    vertical-align: middle;
  }
  li{
    padding: 20px 0px;
  }
  
  li:first-child {
    position: absolute;
    left: 15%;
  }
  
  li:nth-child(2) {
    position: absolute;
    left: 27.82%;
  }
  
  li:nth-child(3) {
    position: absolute;
    left: 33.26%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  li:nth-child(3):hover {
    cursor: default;
    border-bottom: 3px solid #2CE080;
    padding-bottom: 0px;
  }
  
  li:nth-child(4) {
    position: absolute;
    left: 41.25%;
    margin-top: 3px;
  }
  
  li:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0px; */
    position: absolute;
    left: 78.33%;
  }