body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:'Cera Pro Black' ;
  src: url('./components/Assets/cera pro sv/Cera\ Pro\ Black.woff') format('woff');
  font-weight: 'bold';
}

@font-face {
  font-family:'Cera Pro Black' ;
  src: url('./components/Assets/cera pro sv/Cera\ Pro\ Medium.woff') format('woff');
  font-weight: 'normal';
}